<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="rototrack.roto-versal.com" connectionString="Server=10.50.250.254;Database=rototrack;User Id=sa;Password=donuts;" providerName="System.Data.SqlClient" />
    <add name="guardtrack.guardianttech.com" connectionString="Server=10.50.250.254;Database=guardtrack;User Id=sa;Password=donuts;" providerName="System.Data.SqlClient" />
    <add name="rototrackdev.roto-versal.com" connectionString="Server=localhost;Database=rototrack;User Id=sa;Password=m1rm23d;" providerName="System.Data.SqlClient" />
    <add name="guardtrackdev.guardianttech.com" connectionString="Server=localhost;Database=guardtrack;User Id=sa;Password=m1rm23d;" providerName="System.Data.SqlClient" />
    <add name="localhost" connectionString="Server=localhost;Database=rototrack;User Id=sa;Password=m1rm23d;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.windows.forms jitDebugging="true" />
  <system.web>
    <roleManager enabled="true" defaultProvider="SimpleRoleProvider">
      <providers>
        <clear />
        <add name="SimpleRoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
      </providers>
    </roleManager>
    <membership defaultProvider="SimpleMembershipProvider">
      <providers>
        <clear />
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>
  </system.web>
</configuration>